<div class="container">
  <div class="card-deck mb-3 text-center">
		
	
	{{#each product1}}
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{name}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">${{price}}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><p>{{shortDescription}}</p></li> 
		  <li><img src="./images/cucumber.jpg" height=100 width=75></li>
        </ul>
        <button type="button" class="btn btn-sm btn-block btn-primary"
		  onclick="window.location.href = 'product.html';">Details</button>
        <button type="button" class="btn btn-sm btn-block btn-primary"
		  onclick="window.location.href = 'addtocart.html';">Add to cart</button>
      </div>
    </div>
	{{/each}}
	
	
  </div>
  
  <div class="mb-2 card"> </div>
  
  <!--Second Row-->
  
  <div class="card-deck mb-3 text-center">
		
	{{#each product2}}
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{name}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">${{price}}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><p>{{shortDescription}}</p></li> 
		  <li><img src="./images/cucumber.jpg" height=100 width=75></li>
        </ul>
        <button type="button" class="btn btn-sm btn-block btn-primary"
		  onclick="window.location.href = 'product.html';">Details</button>
        <button type="button" class="btn btn-sm btn-block btn-primary"
		  onclick="window.location.href = 'addtocart.html';">Add to cart</button>
      </div>
    </div>
	{{/each}}
	
  </div>
</div>
  
