<!--
including header content which is common for all pages
-->
<%- include ../views/layouts/header.ejs %>	

<body>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <p>
        Farm-Fresh is dedicated to providing a channel between enthusiastic growers        and health-conscious consumers. Our vendors provide an array of edible foods      grown and harvested using methods that sustain their home environments. From       our vegetables to our spices, from our cheeses to our honey, providers apply       management techniques to ensure respect and replenishment for the sources of their bounty.
      </p>
    </div>
    <div class="card mb-4 shadow-sm">
      <h3>Comprehensive Selection</h3>
        <p>
          Quality items provided by skilled growers.
        </p>
    </div>
    <div class="card mb-4 shadow-sm">
      <h3>Fast and Convenient Delivery</h3>
      <p>
        Packaged and shipped to ensure the highest freshness and quality.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-2 shadow-sm">
      <h3>Buyer Picks</h3>
    </div>
  </div>
</div>

<div class="container">
  	
  <!-- If 'data' contains records populate page -->
  <% if (data.length > 0) { %>
  <!--<div class="card-deck mb-3 text-center">-->
  
	<% var cellCounter = 0 %>
	
	<% data.forEach(function(product){ %>
    <!-- form action="/cart/add<%=prodId%>" method="POST"  -->
		<% var prodId = product.idProduct %>
	  <% console.log("index.ejs, prodId = " + prodId) %>
  
	  
  <% if (cellCounter === 0) { %>
  <!-- Starts the page and creates a new row -->
  <div class="card-deck mb-3 text-center"> <!-- Begin -->
  <% } %>  
	<% cellCounter = cellCounter + 1 %>
   
	
	<!-- -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
			<%=product.Name%> </h4>
      </div>
      <div class="card-body"> 
        <h1 class="card-title pricing-card-title">
			$ <%=product.Price.toFixed(2) %> </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><h5>Description:</h5> <p><%=product.Description%></p></li>
          <% var imageURL = 'data:image/jpeg;base64,' + new Buffer(product.image, 'binary').toString('base64') %> 
		  <li><img src="<%=imageURL%>" height=100 width=125></li>
        </ul>
		<input type="hidden" id=<%=prodId%> name=<%=prodId%> value="<%=prodId%>"> 
		<!-- document.getElementById('<%=prodId%>').value; -->
        <button type="button" id="btn"<%=prodId%> class="btn btn-sm btn-block btn-primary"
		  onclick="window.location.href = 
				'products/view/<%=prodId%>'">Details</button>

        <form action="/cart/add?<%=prodId%>" method="POST" id="update" name="frmupdate">
      <div class="col-sm-50">
        <div class="col-sm-6">
        <label for="state">Quantity</label>
            <select class="custom-select d-block w-20" name="qtySelected" 
                id="qtySelected" required>
              <option>0</option>
              <option Selected>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
        </select>
      </div>
      <input type="hidden" class="form-control" id="price" name="price"
                  value ="<%=product.Price %>">
      <input type="hidden" name="productID" id="productID" value="<%=product.idProduct%>">
      <div class="col-sm-24">
        <button type="submit" class="btn btn-sm btn-block btn-primary"
          onclick="window.location.href = 'cart/add?prodId<%=prodId%>';">
          Add to cart</button>
      </div>
      </form>
      </div>
        

      </div>
    </div>
	<!-- --> 
  <% if (cellCounter === 4) { %>
    </div> <!-- Closes out row container -->
    <!-- Creates a new row --> 
    <div class="mb-2 card"> </div> 
    <!--Second Row-->
    <% cellCounter = 0 %>
  <% } %>
        <!-- /form -->
  	<% }) %>
  <% } %> 
  
</div> <!-- Closes out main container -->
  
</body>

<script>
	
</script>

<!--
including footer content which is common for all pages
-->
<%- include ../views/layouts/footer.ejs %>
